<section
        class="elementor-element elementor-element-1667289 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
        data-id="1667289" data-element_type="section"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-2910151 elementor-column elementor-col-100 elementor-top-column"
                 data-id="2910151" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-1c6f811 elementor-widget elementor-widget-heading"
                             data-id="1c6f811" data-element_type="widget"
                             data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">
                                    Related Papers</h2></div>
                        </div>
                        <div class="elementor-element elementor-element-ab868e1 elementor-widget elementor-widget-divider"
                             data-id="ab868e1" data-element_type="widget"
                             data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                                                        <span class="elementor-divider-separator">
						</span>
                                </div>
                            </div>
                        </div>
                        <section
                                class="elementor-element elementor-element-99ed991 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                data-id="99ed991" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-extended">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-a6a9bd1 elementor-column elementor-col-33 elementor-inner-column"
                                         data-id="a6a9bd1"
                                         data-element_type="column"
                                         data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-da0725c elementor-widget__width-auto elementor-view-framed elementor-shape-circle elementor-widget elementor-widget-icon"
                                                     data-id="da0725c"
                                                     data-element_type="widget"
                                                     data-widget_type="icon.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-wrapper">
                                                            <a class="elementor-icon"
                                                               href="papers/index.html#ZS">
                                                                <i aria-hidden="true"
                                                                   class="fas fa-home"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-ccc8056 elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget elementor-widget-heading"
                                                     data-id="ccc8056"
                                                     data-element_type="widget"
                                                     data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            <a href="papers/index.html#ZS">Survey</a>
                                                        </h3></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-a8afa97 elementor-column elementor-col-33 elementor-inner-column"
                                         data-id="a8afa97"
                                         data-element_type="column"
                                         data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-e207cb0 elementor-widget__width-auto elementor-view-framed elementor-shape-circle elementor-widget elementor-widget-icon"
                                                     data-id="e207cb0"
                                                     data-element_type="widget"
                                                     data-widget_type="icon.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-wrapper">
                                                            <a class="elementor-icon"
                                                               href="papers/index.html#YCJC">
                                                                <i aria-hidden="true"
                                                                   class="fas fa-bug"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-25cd2ed elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget elementor-widget-heading"
                                                     data-id="25cd2ed"
                                                     data-element_type="widget"
                                                     data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            <a href="papers/index.html#YCJC">Anomaly
                                                                Detection</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-97de10a elementor-column elementor-col-33 elementor-inner-column"
                                         data-id="97de10a"
                                         data-element_type="column"
                                         data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-eb854eb elementor-widget__width-auto elementor-view-framed elementor-shape-circle elementor-widget elementor-widget-icon"
                                                     data-id="eb854eb"
                                                     data-element_type="widget"
                                                     data-widget_type="icon.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-wrapper">
                                                            <a class="elementor-icon"
                                                               href="papers/index.html#WLHX">
                                                                <i aria-hidden="true"
                                                                   class="fas fa-globe"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-a00a37b elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-widget elementor-widget-heading"
                                                     data-id="a00a37b"
                                                     data-element_type="widget"
                                                     data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            <a href="papers/index.html#WLHX">Network
                                                                Portrait</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section
                                class="elementor-element elementor-element-e8ea9d4 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                data-id="e8ea9d4" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-extended">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-4b13e60 elementor-column elementor-col-33 elementor-inner-column"
                                         data-id="4b13e60"
                                         data-element_type="column"
                                         data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-f32b54a elementor-widget__width-auto elementor-view-framed elementor-shape-circle elementor-widget elementor-widget-icon"
                                                     data-id="f32b54a"
                                                     data-element_type="widget"
                                                     data-widget_type="icon.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-wrapper">
                                                            <a class="elementor-icon"
                                                               href="papers/index.html#ZNHY">
                                                                <i aria-hidden="true"
                                                                   class="fas fa-file-contract"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-303f331 elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget elementor-widget-heading"
                                                     data-id="303f331"
                                                     data-element_type="widget"
                                                     data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            <a href="papers/index.html#ZNHY">Smart
                                                                Contract</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-d1210e2 elementor-column elementor-col-33 elementor-inner-column"
                                         data-id="d1210e2"
                                         data-element_type="column"
                                         data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-e7265a0 elementor-widget__width-auto elementor-view-framed elementor-shape-circle elementor-widget elementor-widget-icon"
                                                     data-id="e7265a0"
                                                     data-element_type="widget"
                                                     data-widget_type="icon.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-wrapper">
                                                            <a class="elementor-icon"
                                                               href="papers/index.html#STSB">
                                                                <i aria-hidden="true"
                                                                   class="fas fa-search-location"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-99251f5 elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget elementor-widget-heading"
                                                     data-id="99251f5"
                                                     data-element_type="widget"
                                                     data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            <a href="papers/index.html#STSB">Entity
                                                                Recognition</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-eebcc32 elementor-column elementor-col-33 elementor-inner-column"
                                         data-id="eebcc32"
                                         data-element_type="column"
                                         data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-011ef4e elementor-widget__width-auto elementor-view-framed elementor-shape-circle elementor-widget elementor-widget-icon"
                                                     data-id="011ef4e"
                                                     data-element_type="widget"
                                                     data-widget_type="icon.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-wrapper">
                                                            <a class="elementor-icon"
                                                               href="papers/index.html#JYMSSB">
                                                                <i aria-hidden="true"
                                                                   class="fas fa-hand-holding-usd"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-15ce73f elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-widget elementor-widget-heading"
                                                     data-id="15ce73f"
                                                     data-element_type="widget"
                                                     data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            <a href="papers/index.html#JYMSSB">Transaction
                                                                Pattern
                                                                Recognition</a>
                                                        </h3></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section
                                class="elementor-element elementor-element-4bd3beb elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                data-id="4bd3beb" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-extended">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-547d001 elementor-column elementor-col-33 elementor-inner-column"
                                         data-id="547d001"
                                         data-element_type="column"
                                         data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-7ed7dac elementor-widget__width-auto elementor-view-framed elementor-shape-circle elementor-widget elementor-widget-icon"
                                                     data-id="7ed7dac"
                                                     data-element_type="widget"
                                                     data-widget_type="icon.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-wrapper">
                                                            <a class="elementor-icon"
                                                               href="papers/index.html#SCFX">
                                                                <i aria-hidden="true"
                                                                   class="fas fa-chart-line"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-20e45a1 elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget elementor-widget-heading"
                                                     data-id="20e45a1"
                                                     data-element_type="widget"
                                                     data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            <a href="papers/index.html#SCFX">Market
                                                                Analysis</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-fd9cab4 elementor-column elementor-col-33 elementor-inner-column"
                                         data-id="fd9cab4"
                                         data-element_type="column"
                                         data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-18552f8 elementor-widget__width-auto elementor-view-framed elementor-shape-circle elementor-widget elementor-widget-icon"
                                                     data-id="18552f8"
                                                     data-element_type="widget"
                                                     data-widget_type="icon.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-wrapper">
                                                            <a class="elementor-icon"
                                                               href="papers/index.html#JYZZ">
                                                                <i aria-hidden="true"
                                                                   class="fas fa-shoe-prints"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-6056450 elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget elementor-widget-heading"
                                                     data-id="6056450"
                                                     data-element_type="widget"
                                                     data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            <a href="papers/index.html#JYZZ">Transaction
                                                                Tracking</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-172c514 elementor-column elementor-col-33 elementor-inner-column"
                                         data-id="172c514"
                                         data-element_type="column"
                                         data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-2f5496b elementor-widget__width-auto elementor-view-framed elementor-shape-circle elementor-widget elementor-widget-icon"
                                                     data-id="2f5496b"
                                                     data-element_type="widget"
                                                     data-widget_type="icon.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-icon-wrapper">
                                                            <a class="elementor-icon"
                                                               href="papers/index.html#QTJMHB">
                                                                <i aria-hidden="true"
                                                                   class="fas fa-file-invoice-dollar"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-3eaf7c0 elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget-tablet__width-initial elementor-widget elementor-widget-heading"
                                                     data-id="3eaf7c0"
                                                     data-element_type="widget"
                                                     data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 class="elementor-heading-title elementor-size-default">
                                                            <a href="papers/index.html#QTJMHB">Other
                                                                Cryptocurrency</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="elementor-element elementor-element-41e200a elementor-widget elementor-widget-spacer"
                             data-id="41e200a" data-element_type="widget"
                             data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>