<div class="row">
    <div class="col-lg-12">
        <div class="list-group">
            <div class="list-group-item disabled">
                Cras justo odio
            </div>
            <div class="list-group-item">
                <input type="text" class="border-input" placeholder="Search for...">
                <span class="glyphicon glyphicon-search btn" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-saved btn" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-chevron-right btn pull-right" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-chevron-left btn pull-right" aria-hidden="true"></span>
            </div>
            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item active">Morbi leo risus</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item active">Vestibulum at eros</a>
            <a href="#" class="list-group-item">SADW</a>
        </div>
    </div>
</div>