{% extends "base.html" %}

{% block content %}
    <div id="content" class="site-content">

        <div class="ast-container">


            <div id="primary" class="content-area primary">


                <main id="main" class="site-main">


                    <article

                            class="post-95 page type-page status-publish ast-article-single"
                            itemtype="https://schema.org/CreativeWork" itemscope="itemscope" id="post-95">


                        <header class="entry-header ast-header-without-markup">


                        </header><!-- .entry-header -->

                        <div class="entry-content clear" itemprop="text">


                            <div data-elementor-type="wp-page" data-elementor-id="95" class="elementor elementor-95"
                                 data-elementor-settings="[]">
                                <div class="elementor-inner">
                                    <div class="elementor-section-wrap">
                                        <section
                                                class="elementor-element elementor-element-a584ef8 elementor-section-content-middle elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                                data-id="a584ef8" data-element_type="section"
                                                data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
                                            <div class="elementor-background-overlay"></div>
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div class="elementor-element elementor-element-b7bcb4e elementor-column elementor-col-50 elementor-top-column"
                                                         data-id="b7bcb4e" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-b9d7191 elementor-widget elementor-widget-image"
                                                                     data-id="b9d7191" data-element_type="widget"
                                                                     data-widget_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <img width="600" height="600"
                                                                                 src="wp-content/uploads/2019/09/1.png"
                                                                                 class="attachment-large size-large"
                                                                                 alt=""
                                                                                 srcset="http://xblock.pro/wp-content/uploads/2019/09/1.png 600w, http://xblock.pro/wp-content/uploads/2019/09/1-150x150.png 150w, http://xblock.pro/wp-content/uploads/2019/09/1-300x300.png 300w, http://xblock.pro/wp-content/uploads/2019/09/1-100x100.png 100w"
                                                                                 sizes="(max-width: 600px) 100vw, 600px"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-39d5465 elementor-column elementor-col-50 elementor-top-column"
                                                         data-id="39d5465" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-321c411 elementor-widget elementor-widget-text-editor"
                                                                     data-id="321c411" data-element_type="widget"
                                                                     data-widget_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <h4>e<span
                                                                                    style="font-size: 30px; color: #77ac45;"><strong>X</strong></span>plore
                                                                                <span style="font-size: 30px; color: #7db846;"><strong>Block</strong></span>chain
                                                                                Reliability</h4></div>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-2d832a0 elementor-widget elementor-widget-heading"
                                                                     data-id="2d832a0" data-element_type="widget"
                                                                     data-widget_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h1 class="elementor-heading-title elementor-size-default">
                                                                            XBLOCK.PRO</h1></div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-89181e7 elementor-widget elementor-widget-spacer"
                                                                     data-id="89181e7" data-element_type="widget"
                                                                     data-widget_type="spacer.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-spacer">
                                                                            <div class="elementor-spacer-inner"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-b4d03b1 elementor-widget elementor-widget-text-editor"
                                                                     data-id="b4d03b1" data-element_type="widget"
                                                                     data-widget_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix">
                                                                            <p>XBlock collects the current mainstream
                                                                                blockchain data and is one of the
                                                                                blockchain data platforms in the
                                                                                academic community.</p>
                                                                            <p>All blockchain datasets have been cleaned
                                                                                and classified in a standardized way,
                                                                                which can be easily downloaded into a
                                                                                standard and consistent format.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section
                                                class="elementor-element elementor-element-f7d1a8f elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                                data-id="f7d1a8f" data-element_type="section"
                                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div class="elementor-element elementor-element-34dcbd2 elementor-column elementor-col-100 elementor-top-column"
                                                         data-id="34dcbd2" data-element_type="column">
                                                        <div class="elementor-column-wrap">
                                                            <div class="elementor-widget-wrap">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section
                                                class="elementor-element elementor-element-5b46c36 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                                data-id="5b46c36" data-element_type="section"
                                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div class="elementor-element elementor-element-b6899d4 elementor-column elementor-col-100 elementor-top-column"
                                                         data-id="b6899d4" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-24a50c8 elementor-widget elementor-widget-html"
                                                                     data-id="24a50c8" data-element_type="widget"
                                                                     data-widget_type="html.default">
                                                                    <div class="elementor-widget-container">
                                                                        <style>
                                                                            a {
                                                                                text-decoration: none !important;
                                                                            }
                                                                        </style>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-94892a8 elementor-widget elementor-widget-heading"
                                                                     data-id="94892a8" data-element_type="widget"
                                                                     data-widget_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h2 class="elementor-heading-title elementor-size-default">
                                                                            Dataset</h2></div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-b663325 elementor-widget elementor-widget-divider"
                                                                     data-id="b663325" data-element_type="widget"
                                                                     data-widget_type="divider.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-divider">
                                                                            <span class="elementor-divider-separator"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <section
                                                                        class="elementor-element elementor-element-195312b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                                                        data-id="195312b" data-element_type="section">
                                                                    <div class="elementor-container elementor-column-gap-default">
                                                                        <div class="elementor-row">
                                                                            <header class="elementor-element elementor-element-715569bf elementor-column elementor-col-33 elementor-inner-column"
                                                                                    data-id="715569bf"
                                                                                    data-element_type="column"
                                                                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                                                    <div class="elementor-background-overlay"></div>
                                                                                    <div class="elementor-widget-wrap">
                                                                                        <div class="elementor-element elementor-element-2070ce54 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                                                                             data-id="2070ce54"
                                                                                             data-element_type="widget"
                                                                                             data-widget_type="image-box.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="elementor-image-box-wrapper">
                                                                                                    <div class="elementor-image-box-content">
                                                                                                        <h4 class="elementor-image-box-title">
                                                                                                            Transaction
                                                                                                            Dataset</h4>
                                                                                                        <p class="elementor-image-box-description">
                                                                                                            Transaction
                                                                                                            Data
                                                                                                            on
                                                                                                            Blockchain</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="elementor-element elementor-element-0ef9c89 elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-button"
                                                                                             data-id="0ef9c89"
                                                                                             data-element_type="widget"
                                                                                             data-widget_type="button.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="elementor-button-wrapper">
                                                                                                    <a href="tx/index.html"
                                                                                                       class="elementor-button-link elementor-button elementor-size-sm"
                                                                                                       target="_blank"
                                                                                                       role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon elementor-align-icon-right">
				<i aria-hidden="true" class="fas fa-arrow-right"></i>			</span>
						<span class="elementor-button-text">Download</span>
		</span>
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </header>
                                                                            <header class="elementor-element elementor-element-3d03680 elementor-column elementor-col-33 elementor-inner-column"
                                                                                    data-id="3d03680"
                                                                                    data-element_type="column"
                                                                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                                                    <div class="elementor-background-overlay"></div>
                                                                                    <div class="elementor-widget-wrap">
                                                                                        <div class="elementor-element elementor-element-77f635e elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                                                                             data-id="77f635e"
                                                                                             data-element_type="widget"
                                                                                             data-widget_type="image-box.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="elementor-image-box-wrapper">
                                                                                                    <div class="elementor-image-box-content">
                                                                                                        <h4 class="elementor-image-box-title">
                                                                                                            Contract
                                                                                                            Dataset</h4>
                                                                                                        <p class="elementor-image-box-description">
                                                                                                            Contract
                                                                                                            Data on
                                                                                                            Blockchain</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="elementor-element elementor-element-e8fdc56 elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-button"
                                                                                             data-id="e8fdc56"
                                                                                             data-element_type="widget"
                                                                                             data-widget_type="button.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="elementor-button-wrapper">
                                                                                                    <a href="ct/index.html"
                                                                                                       class="elementor-button-link elementor-button elementor-size-sm"
                                                                                                       target="_blank"
                                                                                                       role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon elementor-align-icon-right">
				<i aria-hidden="true" class="fas fa-arrow-right"></i>			</span>
						<span class="elementor-button-text">Download</span>
		</span>
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </header>
                                                                            <header class="elementor-element elementor-element-a2e460a elementor-column elementor-col-33 elementor-inner-column"
                                                                                    data-id="a2e460a"
                                                                                    data-element_type="column"
                                                                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                                                    <div class="elementor-background-overlay"></div>
                                                                                    <div class="elementor-widget-wrap">
                                                                                        <div class="elementor-element elementor-element-71a5208 elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                                                                                             data-id="71a5208"
                                                                                             data-element_type="widget"
                                                                                             data-widget_type="image-box.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="elementor-image-box-wrapper">
                                                                                                    <div class="elementor-image-box-content">
                                                                                                        <h4 class="elementor-image-box-title">
                                                                                                            Market
                                                                                                            Dataset</h4>
                                                                                                        <p class="elementor-image-box-description">
                                                                                                            Market Data
                                                                                                            on
                                                                                                            Blockchain</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="elementor-element elementor-element-89a307d elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-button"
                                                                                             data-id="89a307d"
                                                                                             data-element_type="widget"
                                                                                             data-widget_type="button.default">
                                                                                            <div class="elementor-widget-container">
                                                                                                <div class="elementor-button-wrapper">
                                                                                                    <a href="mt/index.html"
                                                                                                       class="elementor-button-link elementor-button elementor-size-sm"
                                                                                                       target="_blank"
                                                                                                       role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon elementor-align-icon-right">
				<i aria-hidden="true" class="fas fa-arrow-right"></i>			</span>
						<span class="elementor-button-text">Download</span>
		</span>
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </header>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section
                                                class="elementor-element elementor-element-acdc7b5 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                                data-id="acdc7b5" data-element_type="section"
                                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-container elementor-column-gap-no">
                                                <div class="elementor-row">
                                                    <div class="elementor-element elementor-element-772526d elementor-column elementor-col-100 elementor-top-column"
                                                         data-id="772526d" data-element_type="column">
                                                        <div class="elementor-column-wrap">
                                                            <div class="elementor-widget-wrap">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        {% include "compents/paper_types.html" %}
                                    </div>
                                </div>
                            </div>


                        </div><!-- .entry-content .clear -->


                    </article><!-- #post-## -->


                </main><!-- #main -->


            </div><!-- #primary -->


        </div> <!-- ast-container -->
    </div>
{% endblock %}